<div style = "padding-top:5%;  text-align:center; margin:0 auto;">

<h5 style = "color:#3498db" >관리자 페이지입니다.</h5>

</div>

<% @mem.each do |memb|%>
<br>
<div style = " font-color:white; background-color:#2C3E50; width:100%;">
<br>
<p style = "margin-left:3%; color:white">이름 : <%= memb.username%> </p>
<p  style = "margin-left:3%;color:white"> 닮은 동물 :<%= memb.animal%></p>
<p  style = "margin-left:3%; margin-right:3%; color:white">이야기 :<%= memb.content%></p>
<br>
<% memb.photos.each do |x|%>

<a href="/img/<%=x.savedname%>" target="_blank" >
<img src = "/img/<%=x.savedname%>" style ="width:100px; height:100px;"/></a>
<%end%>
<br>
<br>
</div>

<br>
<%end%>

<br>
<a href="/mt/list" class = "btn btn-block btn-inverse" >돌아가기</a>
<br><br>





